[Unit]
Description=cpds-detector Service
After=network.target
Requires=mariadb.service prometheus.service
After=mariadb.service

[Service]
ExecStart=/usr/bin/cpds-detector
Restart=always

[Install]
WantedBy=multi-user.target
